<nav>
    <a href="/" style="margin: 0.5rem;">
      <div class="logo-container">
        <span >
          <img src="/assets/Logo.svg" alt="Appointy Logo">
        </span>
      </div>
      <div>
        <span class="h2">Appointy</span>
      </div>
    </a>
  </nav>